  <div class="container" style="margin-top: 100px; margin-bottom: 30px;">
    <h2 class="text-center title1" style="margin-bottom: 50px;"><strong>Toutes les actualités</strong></h2>
  <div class="row">
    <% @articles.each do |article|  %>
    <%= link_to article_path(article) do %>
      <div class="col-md-4">
        <div class="card-actu">
          <div class="card-content">
          <%= cl_image_tag article.photo  %>u = User.new(:email => "user@name.com", :password => 'password', :password_confirmation => 'password')

            <h4><%= article.title  %></h4>
            <p>Par <%= article.auteur  %></p>
          </div>
          <div class="article-bottom">
              <%= image_tag('grouperouge.png') %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>



