<h2 class="title-top text-center">Notre histoire</h2>

<div class="wrapper-blue" style="background-image: url('<%= cl_image_path("fond3_nf8s0t.png") %>');">
  <div class="background-responsive"></div>
  <%= image_tag('carre.png', :style => "position: absolute; top: 30px; left: 60px;") %>
  <%= image_tag('baguette.png', :style => "position: absolute; bottom: 60px; left: 150px;") %>
  <div class="text-right">
    <h3>Apéro Boulot <br>c’est l’histoire d’une rencontre</h3>
    <p>celle de deux jeunes femmes dynamiques et entrepreneures. D’un côté, Charlotte avait eu la folle idée de livrer des petits déjeuners bio sur son vélo triporteur. De l’autre côté, Juliette s’était lancée le défi de faire découvrir des petits vignerons en sélectionnant soigneusement et en livrant du vin aux particuliers. <br>Au hasard d’une rencontre, elles se retrouvent autour d’un café et d’une passion commune : les bons produits du terroir. Elles décident alors de créer un service clé-en-main de livraison et d’installation pour tous les événements gourmands d’entreprises à Paris.
    </p>
    <h3 style="font-family: 'Kaushan Script', cursive; color: #f39500">Et c’est en avril 2015 que l’aventure commence !</h3>
  </div>
</div>

<div class="wrapper-white" style="background-image: url('<%= cl_image_path("fond2_nmn8do.png") %>');">
  <div class="background-responsive"></div>
  <div class="text-left">
    <h3>Entourée de producteurs issus<br>de la filière agricole française</h3>
    <p>l’équipe d’APERO BOULOT s’engage à vous faire redécouvrir les vraies saveurs des aliments lors d’évènements organisés en entreprise. Au fil des demandes, nos services se sont diversifiés : petits déjeuners, déjeuners, pauses gourmandes, cocktails constituent la base de nos prestations. Attentifs à vos idées les plus originales, nous trouverons toujours la solution pour leur donner vie !</p>
    <h3>Deux ans après sa création, <br> Apéro Boulot se lance un pari fou :</h3>
    <p>celui d’ouvrir son propre laboratoire culinaire. Assurer un meilleur suivi des approvisionnements et de l’ensemble de la chaîne de production ; vous garantir la qualité et la fraîcheur la plus optimale des produits ; vous offrir une plus grande flexibilité ; sont autant d’objectifs que nous nous sommes fixés avec ce nouveau projet.</p>
  </div>
</div>

<div class="wrapper">
  <h2 class="title">Nos valeurs</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="valeurs" style="background-image: url('<%= cl_image_path("service_egasek.png") %>');">
          <div>
            <h2>SERVICE</h2>
            <div class="hover">
              <p class="text-center">Un service clé-en-main pour faciliter l’organisation de vos événements</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="valeurs" style="background-image: url('<%= cl_image_path("service1_dh8whd.png") %>');">
          <h2>FRAÎCHEUR & GOÛT</h2>
          <div class="hover text-center">
              <p class="text-center">Des circuits courts pour vous garantir une qualité irréprochable de nos produits</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="valeurs" style="background-image: url('<%= cl_image_path("Apérobillette_nh2dlw.png") %>');">
            <h2>ENVIRONNEMENT</h2>
          <div class="hover">
              <p class="text-center">Dans une démarche active et responsable, nous soutenons l’agriculture raisonnée et biologique, ainsi que l’utilisation de matières recyclées et recyclables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="title">Nos cuisines</h2>
<div class="wrapper" style="background-color: #f2f2f2;">
  <div class="container">
    <div class="text-partenaire">
    <p>Puisque chaque savoir-faire est unique, nous travaillons en collaboration avec des artisans pour vous apporter des produits frais et savoureux. Via nos partenaires, nous vous garantissons des produits de qualité, issus de l’agriculture raisonnée et, pour une partie, biologique.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="card-partenaires">
          <div class="img-partenaires" style="background-image: url('<%= image_path('partenaire1.png') %>');">
          </div>
          <div class="content-partenaires">
            <h3>
              Boulangers
            </h3>
            <p>
              Un boulanger de qualité pour des petits déjeuners bio, gourmands et copieux
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="card-partenaires">
          <div class="img-partenaires" style="background-image: url('<%= image_path('partenaire3.png') %>');">
          </div>
          <div class="content-partenaires">
            <h3>
              Fromagers
            </h3>
            <p>Des fromagers chez qui le temps est dédié à l’affinage de fromages authentiques</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="card-partenaires">
          <div class="img-partenaires" style="background-image: url('<%= image_path('partenaire2.png') %>');">
          </div>
          <div class="content-partenaires">
            <h3>
              Petits domaines
            </h3>
            <p>Des petits domaines dénichés au hasard de dégustations mémorables </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="card-partenaires">
          <div class="img-partenaires" style="background-image: url('<%= image_path('partenaire4.png') %>');">
          </div>
          <div class="content-partenaires">
            <h3>
              Artisans
            </h3>
            <p>Des artisans qui ont la générosité de partager leurs secrets et recettes de famille avec nous</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <h2 class="title">Notre équipe</h2>
  <div class="wrapper wrapper-team" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="row" style="width: 80%; margin: auto;">
      <div class="col-md-4">
        <div class="team-card text-center">
          <%= cl_image_tag("Juliette-Photo_site_nb_wsqycw.jpg") %>
          <h3>Juliette</h3>
          <p>Direction - Administratif -<br>Financier</p>
          <p id="contact-team"><i class="fa fa-envelope" aria-hidden="true"></i> -
            <a href="mailto:juliette@aperoboulot.com">juliette@aperoboulot.com</a> <br> <i class="fa fa-phone-square" aria-hidden="true"></i> - 06 80 99 20 31</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="team-card">
          <%= cl_image_tag("Charlotte-Photo_site_nb_v0bmd4.jpg") %>
          <h3>Charlotte</h3>
          <p>Direction - Commercial -<br>Opérationel</p>
          <p id="contact-team">
            <i class="fa fa-envelope" aria-hidden="true"></i> -
            <a href="mailto:charlotte@aperoboulot.com">charlotte@aperoboulot.com</a> <br>
            <i class="fa fa-phone-square" aria-hidden="true"></i> - 06 34 59 12 07</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="team-card">
          <%= cl_image_tag("Camille_F-Photo_site_nb_ng59cb.jpg") %>
          <h3>Camille</h3>
          <p>Achat - Logistique -<br>Communication</p>
          <p id="contact-team"><i class="fa fa-envelope" aria-hidden="true"></i> -
            <a href="mailto:camille@aperoboulot.com">camille@aperoboulot.com</a> <br> <i class="fa fa-phone-square" aria-hidden="true"></i> - 06 85 85 36 66</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-team" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="row" style="width: 80%; margin: auto;">
      <div class="col-md-4">
        <div class="team-card text-center">
          <%= cl_image_tag("Camille_C-Photo_site_nb_ofh9tw.jpg") %>
          <h3>Camille</h3>
          <p>Cuisine</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-card text-center">
          <%= cl_image_tag("logo_c17dhl.png")%>
          <h3>On recrute</h3>
          <p>Commercial <br> Envoyez <span style="text-decoration: underline;">CV</span> et <span style="text-decoration: underline;">lettre de motivation</span> à l'adresse suivante : <br> <a href="mailto:charlotte@aperoboulot.com">charlotte@aperoboulot.com</a> </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-card text-center">
          <%= image_tag('livreurs.png')%>
          <h3>Et aussi</h3>
          <h4>Notre super équipe de livreurs !</h4>
        </div>
      </div>
    </div>
  </div>
</div>


