  <h2 class="title-top text-center">Notre histoire</h2>
    <div class="wrapper-blue" style="background-image: url('<%= image_path('fond3.png') %>');">
      <%= image_tag('carre.png', :style => "position: absolute; top: 30px; left: 60px;") %>
      <%= image_tag('baguette.png', :style => "position: absolute; bottom: 60px; left: 150px;") %>
      <div class="text-right">
        <h2>AperO’ Boulot <br>c’est l’histoire d’une rencontre</h2>
        <p>Celle de deux jeunes femmes dynamiques et entrepreneures. <br> AperO’ Boulot D’un côté, Charlotte avait eu la folle idée de faire de la livraison sportive de petits déjeuners bio sur son vélo triporteur. De l’autre côté, Juliette s’était lancée le défi de faire découvrir des petits vignerons en sélectionnant soigneusement et en livrant du vin aux particuliers. Au hasard d’une rencontre, elles se retrouvent autour d’un café et d’une passion commune : les bons produits du terroir. Elles dé- cident alors de créer un service clé-en-main de livraison et d’installation pour tous les événements gourmands d’entreprises à Paris.</p>
        <h3 style="font-family: 'Kaushan Script', cursive; color: #f39500">Et c’est en avril 2015 que l’aventure commence !</h3>
      </div>
    </div>

    <div class="wrapper-white" style="background-image: url('<%= image_path('fond2.png') %>');">
      <div class="text-left">
        <h2>Entourée de producteurs issus de la filière agricole française</h2>
        <p>L’équipe d’AperO’ Boulot s’engage à vous faire redécouvrir les vraies saveurs des aliments lors d’évènements organisés en entre- prise. Au fil des demandes, nos services se sont diversifiés : petits déjeuners, déjeuners, pauses gourmandes, cocktails constituent la base de nos prestations. Attentifs à vos idées les plus originales, nous trouverons toujours la solution pour leur donner vie !</p>
        <h2>Deux ans après sa création, <br> AperO’ Boulot se lance un pari fou !</h2>
        <p>Celui d’ouvrir son propre laboratoire culinaire. Assurer un meil- leur suivi des approvisionnements et de l’ensemble de la chaîne de production ; vous garantir la qualité et la fraîcheur la plus opti- male des produits ; vous offrir une plus grande flexibilité ; sont autant d’objectifs que nous nous sommes fixés avec ce nouveau projet.</p>
      </div>
    </div>

  <div class="wrapper">
    <h2 class="title">Nos valeurs</h2>
      <div class="row">
        <div class="col-md-4 col-xs-12 nopadding">
          <div class="valeurs" style="background-image: linear-gradient(-225deg, rgba(234,249,0,0.6) 0%, rgba(234,249,0,0.6) 50%), url('<%= cl_image_path("1_zpsmfm.png") %>');">
            <div>
              <h2 class="text-center" style="font-family: 'Kaushan Script', cursive; color: black;">Service</h2>
              <p class="text-center">un service clé-en-main pour vous <br> faciliter <br>
              la vie et l’esprit lors de l’organisation de vos événements. Relaxez-vous, nous pensons à tout pour vous !
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 nopadding">
          <div class="valeurs" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 50%), url('<%= cl_image_path("2_blfnia.png") %>');">
            <div class="card-valeurs">
              <h1>Fraîcheur <br>&<br> goût</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 nopadding">
          <div class="valeurs" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 50%), url('<%= cl_image_path("3_wzb3sl.png") %>');">
            <div class="card-valeurs">
              <h1>Environnement</h1>
            </div>
          </div>
        </div>
      </div>
  </div>

  <h2 class="title">Nos partenaires</h2>
  <div class="wrapper" style="background-color: #f2f2f2;">
    <div class="container partners">
      <p>Puisque chaque savoir-faire est unique, nous travaillons en collaboration avec des artisans pour vous apporter des produits frais et savoureux.
      Via nos partenaires, nous vous garantissons des produits de qualité, issus de l’agriculture raisonnée et, pour une partie, biologique.</p>
    </div>
      <div class="image-chaine">
        <%= image_tag('chaine.png')%>
      </div>
  </div>

  <div class="wrapper">
    <h2 class="title">Notre équipe</h2>
    <div class="wrapper wrapper-team" style="background-image: url('<%= image_path('background-orange.png') %>')">
      <div class="row" style="width: 80%; margin: auto;">
        <div class="col-md-4">
          <div class="team-card text-center">
            <%= cl_image_tag("Juliette_ktzccw.jpg") %>
            <h3>Juliette</h3>
            <p id="quote">« Il n’y a pas de problème, il n’y a que des solutions ! »</p>
            <p>Administratif / financier / opérationnel <br> juliette@aeproboulot.com</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="team-card">
            <%= cl_image_tag("Charlotte_jgvljp.jpg") %>
            <h3>Charlotte</h3>
            <p id="quote">« C'est dans les vieux pots qu'on fait la meilleure soupe »</p>
            <p>Commercial / opérationnel <br> charlotte@aperoboulot.com</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="team-card">
            <%= cl_image_tag("CamilleF_pkm6so.jpg") %>
            <h3>Camille</h3>
            <p id="quote">« C'est dans les vieux pots qu'on fait la meilleure soupe »</p>
            <p>Opérationnel / achats / communication <br> camille@aperoboulot.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-team" style="background-image: url('<%= image_path('background-orange.png') %>')">
      <div class="row" style="width: 60%; margin: auto;">
        <div class="col-md-6">
          <div class="team-card text-center">
            <%= cl_image_tag("CamilleC_h6culs.jpg") %>
            <h3>Camille</h3>
            <p id="quote">« C'est dans les vieux pots qu'on fait la meilleure soupe »</p>
            <p>Commercial / community management <br> margaux@aperoboulot.com</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-card text-center">
            <%= image_tag('livreurs.png')%>
            <h3>Et n'oublions pas <br> notre super équipe <br> de livreurs !</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


