<div class="carousel_wrapper">
<h1>C'est bon <br> C'est fais <br> Et c'est au Boulot !</h1>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url('<%= image_path('banner2.png') %>');">
      </div>
      <div class="item" style="background-image: url('<%= image_path('banner1.png') %>');">
      </div>
      <div class="item" style="background-image: url('<%= image_path('banner3.png') %>');">
      </div>
    </div>
  </div>
</div>

<div class="wrapper" style="background: #f2f2f2;">
  <h2 class="title">Actualités</h2>
  <div class="wrapper nopadding" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="container">
      <div class="row">
        <% @article.each do |article|  %>
          <%= link_to article_path(article) do %>
            <div class="col-md-12">
              <div class="card-actu-top">
                <div class="card-img-top" style="background-image: url('<%= cl_image_path article.photo %>')">
                </div>
                <div class="card-content-top">
                  <h4><strong><%= article.title.upcase %></strong></h4>
                  <p>Par <%= article.auteur  %></p>
                </div>
                <div class="article-bottom">
                    <%= image_tag('grouperouge.png') %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="wrapper nopadding" style="background-image: url('<%= image_path('background-pink.png') %>')">
    <div class="container">
      <div class="row">
        <% @articles.each do |article|  %>
          <%= link_to article_path(article) do %>
            <div class="col-md-4">
              <div class="card-actu">
                <div class="card-img" style="background-image: url('<%= cl_image_path article.photo %>')">
                </div>
                <div class="card-content">
                  <h4><strong><%= article.title.upcase  %></strong>  </h4>
                  <p>Par <%= article.auteur  %></p>
                </div>
                <div class="article-bottom">
                    <%= image_tag('grouperouge.png') %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center" style="margin-bottom: 40px;">
    <a href="/articles"><p>Tous nos articles</p></a>
  </div>
</div>


