
<div class="wrapper">
  <div class="banner" style="background-image: url('<%= image_path('banner.png') %>');">
    <div class="banner-content">
      <h1><span style="font-size: 30px;">C'est</span> bon,</h1>
      <h1><span style="font-size: 30px;">C'est</span> frais,</h1>
      <h1><span style="font-size: 30px;">Et c'est</span> au boulot !</h1>
    </div>
  </div>

  <div class="wrapper">
    <div class="container" style="padding-top: 30px; padding-bottom: 10px;">
      <div class="title-home">
        <h3 style="line-height: 30px; letter-spacing: 3px;" class="text-center">Nous vous apportons du goût, de bons produits, du service ... <br> Et vous garantissons une vraie convivialité lors de votre évènement !</h3>
        <%= image_tag('grouperouge.png') %>
      </div>
    </div>
  </div>
  <div class="wrapper" style="padding-top: 40px; padding-bottom: 40px; position: relative;" >
    <div class="container" style="width: 100%; margin: auto;">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="card-accroche" style="background-image: url('<%= image_path('accroche2.png') %>');">
            <h2>Nos prestas !</h2>
          </div>
          <p>Découvrez toutes nos prestations: Petits dejs Bio, Cocktails, Apéros...</p>
          <a href="/prestations"><p>Toutes nos prestas →</p></a>
        </div>
        <div class="col-md-4">
          <div class="card-accroche" style="background-image: url('<%= image_path('accroche1.png') %>'); ">
            <h2>Votre devis !</h2>
          </div>
          <p>N'hésitez pas à faire une demande en ligne sur le lien ci-dessous !</p>
          <a href="/contacts"><p>Votre devis en ligne →</p></a>
        </div>
        <div class="col-md-4">
          <div class="card-accroche" style="background-image: url('<%= image_path('accroche4.png') %>');">
            <h2>Notre histoire !</h2>
          </div>
          <p>L'apérobilette, notre stratégie de livraison et de production, c'est ici ;)</p>
          <a href="/equipe"><p>Qui sommes-nous? →</p></a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" style="background: #e8ecf0; padding-top: 5px;" >
      <h2 class="title1 text-center"><strong>Actualités</strong></h2>
    <div class="container hello" style="margin-bottom: 20px; margin-top: 30px;">
    </div>
    <div class="row">
      <% @articles.each do |article|  %>
        <%= link_to article_path(article) do %>
          <div class="col-md-4">
            <div class="card-actu">
              <% if article.category == "Actu" %>
                <div class="card-title" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%),  url('<%= image_path('actus.png') %>');">
                  <h4>#Actus</h4>
                </div>
              <% elsif article.category == "Event" %>
                <div class="card-title" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%),  url('<%= image_path('event.png') %>');">
                <h4 style="color: white;">#Événement</h4>
                </div>
              <% elsif article.category == "Presse" %>
                <div class="card-title" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%),  url('<%= image_path('presse.png') %>');">
                <h4>#OnParleDeNous</h4>
                </div>
              <% elsif article.category == "Chronique" %>
                <div class="card-title" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 50%),  url('<%= image_path('chronique.png') %>');">
                <h4>#Chronique</h4>
                </div>
              <% end %>
              <div class="card-content">
                <h4><%= article.title  %></h4>
                <p>Par <%= article.auteur  %></p>
              </div>
              <div class="article-bottom">
                  <%= image_tag('grouperouge.png') %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


