<div class="carousel_wrapper" style="position: relative;">
  <%= image_tag('carre.png', :style => "position: absolute; top: 150px; left: 15%; z-index: 10;") %>
  <%= image_tag('carrerouge.png', :style => "position: absolute; bottom: 100px; left: 20%; z-index: 10;") %>
  <%= image_tag('carre.png', :style => "position: absolute; bottom: 100px; left: 40%; z-index: 10;") %>
  <%= image_tag('verrerouge.png', :style => "position: absolute; top: 170px; left: 70%; z-index: 10;") %>
  <h1>C'est bon <br> C'est frais <br> Et c'est au Boulot !</h1>
    <h5>Le traiteur des entreprises parisiennes</h5>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("1_gaw5to.png") %>');">
      </div>
      <div class="item" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("2_qhexnz.png") %>');">
      </div>
      <div class="item" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("3_fn2zg0.png") %>');">
      </div>
    </div>
  </div>
</div>


