<div class="carousel_wrapper" style="position: relative; border-bottom: 15px solid #e8ecf0;">
  <%= image_tag('carre.png', :style => "position: absolute; top: 150px; left: 15%; z-index: 10;") %>
  <%= image_tag('carrerouge.png', :style => "position: absolute; bottom: 100px; left: 20%; z-index: 10;") %>
  <%= image_tag('carre.png', :style => "position: absolute; bottom: 80px; left: 40%; z-index: 10;") %>
  <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 300px; left: 48%; z-index: 10;") %>
  <h1>C'est bon <br> C'est frais <br> Et c'est au Boulot !</h1>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("banner1_qd9peo.png") %>');">
      </div>
      <div class="item" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("banner3_ckn58u.png") %>');">
      </div>
      <div class="item" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path("banner2_d0qmfu.png") %>');">
      </div>
    </div>
  </div>
</div>

<div class="wrapper nopadding">
  <h2 class="title text-center">Notre Offre du Moment</h2>
  <div class="wrapper nopadding" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="container">
      <div class="row">
        <% @article.each do |article|  %>
          <%= link_to article_path(article) do %>
            <div class="col-md-12">
              <div class="card-actu-top">
                <div class="card-link">
                </div>
                <div class="card-img-top" style="background-image: url('<%= cl_image_path article.photo %>')">
                </div>
                <div class="card-content-top">
                  <h4><%= article.title.upcase.tr('æ-ý','Æ-Ý') %></h4>
                  <p>Par <%= article.auteur  %></p>
                </div>
                <div class="article-bottom">
                    <%= image_tag('grouperouge.png') %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="/prestations" style="text-decoration: none;"><p class="text-center btn-all-articles">Toutes nos prestations</p></a>
  </div>
</div>


