<div class="wraper">
 <h2 class="title">NOS PRESTATIONS</h2>
  <div class="wraper blue">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons1.png'%>
            <h5>DEVIS <br> SUR-MESURE</h5>
            <p>SOUS <br> 24H</p>
            <p class="text1">Pour chaque demande, nous prendrons en comptes toutes vos exigences et nous y adapterons (Budget, lieux, restriction alimentaires...). N’hésitez pas à nous transmettre toutes les informations par mail, une réponse vous sera donnée dans la demi journée avec un devis chiffré.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons2.png'%>
            <h5>LIVRAISON <br> CLEF-EN-MAIN</h5>
            <p>(TOUT EST PRÉVU, DES GOBELETS <br> AU TIRE -BOUCHON ETC.)</p>
            <p>Nous ne nous arrêtons pas à l’entrée de vos locaux ! Votre commande est installée dans le lieu de votre choix, vous n’aurez plus qu’à profiter et accueillir vos invités ! Tout sera prévu, du tire-bouchon, en pas- sant par la vaisselle et vos serviettes !</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons3.png'%>
            <h5>FLEXIBILITÉ <br> DES COMMANDES</h5>
            <p>JUSQU’À 48 HEURES <br> À L’AVANCE</p>
            <p>Une signature de dernière minute avec un client ? Un petit déjeuner d’équipe pour rebooster tout le monde ? <br>
            Jusqu’à 48h à l’avance nous pourrons assu- rer votre évènement et sans aucune limite de quantité.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wraper fixed">
  <%= image_tag 'Path.png'%>
    <div class="text-right">
      <h2>Un thème chaque mois <br> pour épater vos équipes et Clients</h2>
      <p>Il y a toujours une raison de se retrouver autour d’un buffet ! Tous les mois recevez une proposition d’Apero, petit déjeuner ou déjeuner original.(Chandeleur, Noel, Pâques, petit déjeuner de rentrée, l’arrivée du printemps... )
      Une décoration est proposée pour aller encore plus loin.</p>
    </div>
  </div>

  <div class="wraper orange">
    <div class="container">
      <h2>nos zones de livraison : <br>
      Paris intramuros + petite couronne</h2>
      <div class="img">
      <%= image_tag 'voiture.png'%>
      <%= image_tag('map.png', class: 'img2') %>
      </div>
    </div>
  </div>
</div>

