<h2 class="title-top text-center">Nos services</h2>
<div class="wrapper" style="background: #f9f9f9">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons1.png'%>
          <h5>DEVIS <br> SUR-MESURE</h5>
          <p>SOUS <br> 24H</p>
          <p>Pour chaque demande, nous prendrons en compte toutes vos exigences et nous y adapterons (budget, lieux, restrictions alimentaires…)</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons2.png'%>
          <h5>LIVRAISON <br> CLEF-EN-MAIN</h5>
          <p>(TOUT EST PRÉVU, DES GOBELETS <br> AU TIRE -BOUCHON ETC.)</p>
          <p>Nous ne nous arrêtons pas à l’entrée de vos locaux ! Votre commande est installée dans le lieu de votre choix, vous n’aurez plus qu’à profiter et accueillir vos invités !</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons3.png'%>
          <h5>FLEXIBILITÉ <br> DES COMMANDES</h5>
          <p>JUSQU’À 48 HEURES <br> À L’AVANCE</p>
          <p>Une signature de dernière minute avec un client ? Un petit déjeuner d’équipe pour rebooster tout le monde ? Nous assurons vos événements jusqu’à 48 heures à l’avance !</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper presta-flex" style="background-image: url('<%= cl_image_path("fond1_dhtosv.png") %>');">
  <div class="background-responsive"></div>
  <div class="text-right">
    <%= image_tag('verrerouge.png', :style => "position: absolute; top: 0px; right: 60px;") %>
    <%= image_tag('croissant.png', :style => "position: absolute; bottom: 0px; right: 40px;") %>
    <h2>Un thème chaque mois <br> pour épater vos équipes et Clients</h2>
    <p>Il y a toujours une raison de se retrouver autour d’un « Apero Boulot » ! Tous les mois recevez une proposition originale pour vos événements en entreprise. Et parce que le plaisir de déguster commence par la vue d’un beau buffet, une décoration en adéquation avec le thème vous sera également proposée.</p>
  <%= link_to "L'OFFRE DU MOMENT", articles_path  %>
  </div>
</div>



<h2 class="title text-center">Nos prestations</h2>
<div class="wrapper" style="background: #f9f9f9">
  <div class="wrapper" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-petitdej_szninl.png") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
             </button>
            </div>
            <div class="card-presta-elements">
              Petits Déjeuners
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-dej_zpb1qy.png") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg1">
            </button>
            </div>
            <div class="card-presta-elements">
              Déjeuners
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-pause_sv58y5.png") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg2">
              </button>
            </div>
            <div class="card-presta-elements">
              Pauses gourmandes
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" style="background-image: url('<%= image_path('background-pink.png') %>')">
      <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-cocktail_ohwusw.png") %>');">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg3">
              </button>
            </div>
            <div class="card-presta-elements">
              Apéros / Cocktails
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-anim_aegsjk.png") %>');">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg4">
            </button>
            </div>
            <div class="card-presta-elements">
              Animations
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image:  url('<%= cl_image_path("back-options_rurszi.png") %>');">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg5">
            </button>
            </div>
            <div class="card-presta-elements">
              Options
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('carre.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('croissant.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Petits déjeuners</h4>
      <ul>
        <li>Petites viennoiseries</li>
        <li>Gourmandises</li>
        <li>Fraîcheurs</li>
        <li>Pièces salées</li>
        <li>Boissons fraîches et chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('carrerouge.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('baguette.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Déjeuners</h4>
      <ul>
        <li>Cocktails déjeunatoires</li>
        <li>Plateaux repas</li>
        <li>Plateaux de fromages affinés</li>
        <li>Pièces sucrées</li>
        <li>Boissons fraîches et chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Pauses Gourmandes</h4>
      <ul>
        <li>Gourmandises</li>
        <li>Fraîcheurs</li>
        <li>Gâteaux personnalisés</li>
        <li>Jus de fruits frais</li>
        <li>Boissons chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('grouperouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Apéros - Cocktails</h4>
      <ul>
        <li>Pièces salées</li>
        <li>Plateaux de fromages affinés et de charcuterie</li>
        <li>Pièces sucrées</li>
        <li>Boissons sans alcools</li>
        <li>Vins et champagne</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('grouperouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Animations</h4>
      <ul>
        <li>Hot dogs</li>
        <li>Plancha</li>
        <li>Crêpes à la demande</li>
        <li>Cocktails</li>
        <li>Ou toute autre idée !</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('groupejaune.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Options</h4>
      <ul>
        <li>Verrerie</li>
        <li>Vaisselle</li>
        <li>Nappage</li>
        <li>Service</li>
        <li>Présentation sur ardoise</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
</div>

<div class="wrapper orange">
  <div class="container map-container">
    <h2 id="text-map">nos zones de livraison : <br>
    Paris intramuros et petite couronne</h2>
    <%= image_tag('map.png', class: 'img2') %>
  </div>
</div>





