<div class="wrapper">
 <h2 class="title">NOS PRESTATIONS</h2>
  <div class="wrapper blue" style="background: #e8ecf0">
    <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons1.png'%>
            <h5>DEVIS <br> SUR-MESURE</h5>
            <p>SOUS <br> 24H</p>
            <p class="text1">Pour chaque demande, nous prendrons en comptes toutes vos exigences et nous y adapterons (Budget, lieux, restriction alimentaires...). N’hésitez pas à nous transmettre toutes les informations par mail, une réponse vous sera donnée dans la demi journée avec un devis chiffré.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons2.png'%>
            <h5>LIVRAISON <br> CLEF-EN-MAIN</h5>
            <p>(TOUT EST PRÉVU, DES GOBELETS <br> AU TIRE -BOUCHON ETC.)</p>
            <p>Nous ne nous arrêtons pas à l’entrée de vos locaux ! Votre commande est installée dans le lieu de votre choix, vous n’aurez plus qu’à profiter et accueillir vos invités ! Tout sera prévu, du tire-bouchon, en pas- sant par la vaisselle et vos serviettes !</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <%= image_tag 'icons3.png'%>
            <h5>FLEXIBILITÉ <br> DES COMMANDES</h5>
            <p>JUSQU’À 48 HEURES <br> À L’AVANCE</p>
            <p>Une signature de dernière minute avec un client ? Un petit déjeuner d’équipe pour rebooster tout le monde ? <br>
            Jusqu’à 48h à l’avance nous pourrons assu- rer votre évènement et sans aucune limite de quantité.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper white" style="background-image: url('<%= image_path('fond1.png') %>');">
    <div class="text-right">
      <%= image_tag('verrerouge.png', :style => "position: absolute; top: 0px; right: 60px;") %>
      <%= image_tag('croissant.png', :style => "position: absolute; bottom: 0px; right: 40px;") %>
      <h2>Un thème chaque mois <br> pour épater vos équipes et Clients</h2>
      <p>Il y a toujours une raison de se retrouver autour d’un buffet ! Tous les mois recevez une proposition d’Apero, petit déjeuner ou déjeuner original.(Chandeleur, Noel, Pâques, petit déjeuner de rentrée, l’arrivée du printemps... )
      Une décoration est proposée pour aller encore plus loin.</p>
    </div>
  </div>

  <h2 class="title3" style="margin-bottom: 20px;">NOS OPTIONS</h2>
  <div class="wrapper" style="background: #e8ecf0; padding-top: 30px; padding-bottom: 30px;">
    <div class="wrapper" style="background: #e8ecf0; position: relative; padding-top: 30px; padding-bottom: 0px;">
      <div class="line">
         <div class="line-background"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
                <h2>Nos petits déjeuners BIO</h2>
               </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg1">
                <h2>Nos déjeuners</h2>
              </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg2">
              <h2>Nos coktails</h2>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('carre.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('croissant.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos petits déjeuner bio</h4>
        <ul>
        <li>Petites viennoiseries</li>
        <li>Petites gourmandises (Financiers, macarons, cookies, pâtisseries et moelleux)</li>
        <li>Des fraîcheurs (Brochettes de fruits, yaourt mueslis, compotes, fruits frais...)</li>
        <li>Du salé (Verrines, fromages et charcuterie, pain Bio...)</li>
        <li>Boissons fraîches et chaudes BIO</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('carrerouge.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('baguette.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos déjeuners</h4>
        <ul>
        <li>Cocktail déjeunatoire</li>
        <li>Sandwichs et quiches gourmandes</li>
        <li>Buffets salades de saison</li>
        <li>Desserts à l’unité, à partager ou des minis</li>
        <li>Boissons fraiches & chaudes BIO</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos coktails</h4>
        <ul>
        <li>Vins et champagne de vignerons</li>
        <li>Pièces salées</li>
        <li>Wraps, brochettes, navettes, feuilletés, petits fours</li>
        <li>Planches de charcuterie & fromages affinés</li>
        <li>Terrines artisanales</li>
        </ul>
        </div>
      </div>
    </div>

    <div class="wrapper" style="background: #e8ecf0; position: relative; padding-top: 30px; padding-bottom: 0px;">
      <div class="line">
         <div class="line-background1"></div>
      </div>
        <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg3">
                <h2>Nos gouters</h2>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg4">
              <h2>Journée complète</h2>
              </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card-presta">
              <div class="cover-img" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%),  url('<%= image_path('banner.jpg') %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg5">
              <h2>Toutes nos options</h2>
              </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>

    <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos gouters</h4>
        <ul>
        <li>Gâteu personnalisé</li>
        <li>Crêpes</li>
        <li>Chocolat chaud</li>
        <li>Pâtisseries</li>
        <li>...</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos coktails</h4>
        <ul>
        <li>Seminaire</li>
        <li>team building</li>
        <li>nappes</li>
        <li>animation Crêpes</li>
        <li>...</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
        <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 100px;") %>
        <h4>Nos coktails</h4>
        <ul>
        <li>Vins et champagne de vignerons</li>
        <li>Pièces salées</li>
        <li>Wraps, brochettes, navettes, feuilletés, petits fours</li>
        <li>Planches de charcuterie & fromages affinés</li>
        <li>Terrines artisanales</li>
        </ul>
        </div>
      </div>
    </div>

  <div class="wrapper orange">
    <div class="container map-container">
      <h2 id="text-map">nos zones de livraison : <br>
      Paris intramuros + petite couronne</h2>
      <%= image_tag('map.png', class: 'img2') %>
    </div>
  </div>
</div>




