<div class="container" style="margin-top: 150px; margin-bottom: 70px;">
  <h5 style="font-size: 30px; text-align: center;">Apero Boulot est un traiteur qui propose un service de livraison et d'installation pour tous les événements d'entreprises.</h5>
</div>

<h2 class="title text-center">Nos services</h2>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons1.png'%>
          <h5>DEVIS <br> SUR-MESURE</h5>
          <p>Pour chaque demande, <span style="font-weight: bold;">nous prendrons en compte toutes vos exigences</span> et nous y adapterons (budget, lieux, restrictions alimentaires…)</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons2.png'%>
          <h5>LIVRAISON CLEF-EN-MAIN <br>ET INSTALLATION </h5>
          <p>Nous ne nous arrêtons pas à l’entrée de vos locaux ! <span style="font-weight: bold;">Votre commande est installée dans le lieu de votre choix</span>, vous n’aurez plus qu’à profiter et accueillir vos invités !</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card-presta-description">
          <%= image_tag 'icons3.png'%>
          <h5>FLEXIBILITÉ <br> DES COMMANDES</h5>
          <p>Une signature de dernière minute avec un client ? Un petit déjeuner d’équipe pour rebooster tout le monde ? <span style="font-weight: bold;">Nous assurons vos événements jusqu’à 48 heures à l’avance !</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="title text-center" id="prestations">Nos prestations</h2>
<div class="wrapper" style="background: #f9f9f9">
  <div class="wrapper" style="background-image: url('<%= image_path('background-orange.png') %>')">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("back-petitdej_szninl.png") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
             </button>
            </div>
            <div class="card-presta-elements">
              <h4>Petits déjeuners</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("final_apero_boulot-338_c6gopz.jpg") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg1">
            </button>
            </div>
            <div class="card-presta-elements">
              <h4>Déjeuners</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("gourmande_fsyjgk.jpg") %>');">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg2">
              </button>
            </div>
            <div class="card-presta-elements">
              <h4>Pauses gourmandes</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" style="background-image: url('<%= image_path('background-pink.png') %>')">
      <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("apero-back_v3ivjr.png") %>')">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg3">
              </button>
            </div>
            <div class="card-presta-elements">
              <h4>Apéros / Cocktails</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image: url('<%= cl_image_path("anim_dzsf04.jpg") %>');background-size: 140%">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg4">
            </button>
            </div>
            <div class="card-presta-elements">
              <h4>Animations</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card-presta">
            <div class="cover-img" style="background-image:  url('<%= cl_image_path("partenaire2_uyo3nk.png") %>');">
            <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg5">
            </button>
            </div>
            <div class="card-presta-elements">
              <h4>Boissons</h4>
              <a href="contacts">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('carre.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('croissant.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Petits déjeuners</h4>
      <ul>
        <li>Viennoiseries (classiques, petites, chouquettes...)</li>
        <li>Gourmandises (financiers, cannelés, moelleux...)</li>
        <li>Fraîcheurs (brochettes de fruits de saison, yaourts fermiers...)</li>
        <li>Pièces salées (mini sandwichs, navettes briochées...)</li>
        <li>Boissons fraîches et chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('carrerouge.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('baguette.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Déjeuners</h4>
      <ul>
        <li>Cocktails déjeunatoires</li>
        <li>Box repas</li>
        <li>Plateaux de fromages affinés</li>
        <li>Pièces sucrées</li>
        <li>Boissons fraîches et chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('verrerouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Pauses Gourmandes</h4>
      <ul>
        <li>Gourmandises (financiers, cannelés, moelleux...)</li>
        <li>Fraîcheurs (brochettes de fruits de saison, yaourts fermiers...)</li>
        <li>Gâteaux personnalisés</li>
        <li>Jus de fruits frais</li>
        <li>Boissons chaudes</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('grouperouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Apéros - Cocktails</h4>
      <ul>
        <li>Pièces salées</li>
        <li>Plateaux de fromages affinés et de charcuterie</li>
        <li>Pièces sucrées</li>
        <li>Boissons sans alcools</li>
        <li>Vins et champagne</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('grouperouge.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Animations</h4>
      <ul>
        <li>Hot dogs</li>
        <li>Plancha</li>
        <li>Crêpes à la demande</li>
        <li>Cocktails</li>
        <li>Raclette</li>
        <li>Ou toute autre idée !</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <%= image_tag('baguette.png', :style => "position: absolute; top: 10px; left: 60px;") %>
      <%= image_tag('groupejaune.png', :style => "position: absolute; bottom: 40px; right: 30px;") %>
      <h4>Boissons</h4>
      <ul>
        <li>Jus de fruits frais et jus artisanaux</li>
        <li>Thermos de café et de thé</li>
        <li>Vins et champagnes de petits producteurs</li>
        <li>Bières et cidres artisanaux</li>
      </ul>
      <h5>Pour plus d'informations, rendez-vous sur notre <a href="/contacts">formulaire de contact</a></h5>
    </div>
  </div>
</div>
</div>

<div class="wrapper presta-flex" style="background-image: url('<%= cl_image_path("fond1_dhtosv.png") %>');">
  <div class="background-responsive"></div>
  <div class="text-right">
    <%= image_tag('verrerouge.png', :style => "position: absolute; top: -30px; right: 60px;") %>
    <%= image_tag('croissant.png', :style => "position: absolute; bottom: 0px; right: 40px;") %>
    <h3>Des recettes de saison chaque mois pour régaler vos équipes et clients</h3>
    <p>Il y a toujours une raison de se retrouver autour d’un « Apero Boulot » ! Tous les mois recevez une proposition originale pour vos événements en entreprise. <br><br> Découvrez notre <%= link_to "offre du moment", articles_path%> ou demandez votre <a href="/contacts">devis personnalisé</a> </p>
  </div>
</div>

<div class="wrapper orange">
  <div class="container">
    <div class="map-container">
      <div>
      <h2>Nos zones de livraison : <br>
      Paris intramuros et petite couronne</h2>
      <h4>livraisons du lundi au vendredi, de 07h30 à 20h30</h4>
      </div>
      <%= image_tag('map.png', class: 'img2') %>
    </div>
  </div>
</div>

