
<h2 class="title-top">Nous contacter</h2>
<div class="wrapper wrapper-form">
  <h3>ADRESSE</h3>
  <p>46 rue Monsieur Le Prince, 75006 Paris</p>
  <div class="title-contact">
    <h2>Formulaire de demander <br> de devis en ligne</h2>
    <%= image_tag('croissant.png', :class => "fadeIn") %>
  </div>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :nom, :required => true, :placeholder=> "Nom" %>
          <%= f.input :prenom, :required => true, :placeholder=> "Prénom" %>
          <%= f.input :email, :required => true, :placeholder=> "Email"%>
          <%= f.input :societe, :required => true, :placeholder=> "Société" %>
        </div>
        <div class="col-md-6">
          <%= f.input :date, :required => true, :placeholder=> "Date" %>
          <%= f.select :type, options_for_select([["Votre prestation", ""], "Petit déjeuners Bio", "Déjeuner", "Cocktails", "Goûter", "Journée complète"]), :class => 'genForm_dropBox' %>
          <%= f.input :nombre, :required => true, :placeholder=> "Nombre de participants" %>
          <%= f.input :budget, :required => true, :placeholder=> "Budget" %>
        </div>
        <div class="col-xs-12">
          <div class="message">
          <%= f.input :message, :as => :text, :required => true, :placeholder=> "Votre message" %>
          </div>
        </div>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div class="col-xs-12">
          <div class="button">
            <%= f.button :submit, 'Envoyer', :class=> "btn btn-primary text-center" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= image_tag('logo-contact.png', :style => "position: absolute; bottom: 0px; left: 0; right: 0; margin-left: auto; margin-right: auto; ;", :class => "text-center") %>
</div>





