<div class="wraper">
 <h2 class="title">NOUS CONTACTER</h2>
 <div class="wraper" style="background: #e8ecf0; padding: 40px;">
  <div class="container text-center">
  <h3 style="font-weight: bolder; color: black;">ADRESSE</h3>
  <p>46 rue Monsieur Le Prince, 75006 Paris</p>
  <h2 class="text-center" style="color: #f5003e; font-family: 'Kaushan Script', cursive; margin-bottom: 50px; margin-top: 50px;">Formulaire de demande <br> de devis en ligne</h2>
    <div class="row">
    <%= simple_form_for @contact do |f| %>
      <div class="col-sm-6">
        <div class="form">
        <%= f.input :nom, :required => true, placeholder: "nom" %>
        <%= f.input :prenom, :required => true, placeholder: "prenom" %>
        <%= f.input :email, :required => true, placeholder: "email" %>
        <%= f.input :societe, :required => true, placeholder: "societe" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form">
        <%= f.input :date, :required => true, placeholder: "date" %>
        <%= f.input :type, :required => true, placeholder: "type" %>
        <%= f.input :nombre, :required => true, placeholder: "nombre" %>
        <%= f.input :budget, :required => true, placeholder: "budget" %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form">
          <%= f.input :message, :as => :text, :required => true, placeholder: "Votre message" %>
        </div>
      </div>
         <%= f.button :submit, 'Send message' %>
    <% end %>
    </div>
  </div>
</div>
