<div class="wraper">
 <h2 class="title">NOUS CONTACTER</h2>
 <div class="wraper" style="background: #e8ecf0; padding: 40px;">
  <div class="container">
    <div class="row">
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <div class="col-sm-6">
        <div class="form">
        <%= f.input :nom, :required => true %>
        <%= f.input :prenom, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :societe, :required => true %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form">
        <%= f.input :date, :required => true %>
        <%= f.input :type, :required => true %>
        <%= f.input :nombre, :required => true %>
        <%= f.input :budget, :required => true %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form">
          <%= f.input :message, :as => :text, :required => true %>
        </div>
      </div>
    <%= f.submit "Create" %>
    <% end %>
    </div>
  </div>
</div>
