
<h2 class="title-top">Demande de devis</h2>
<div class="wrapper wrapper-form">
  <div class="title-contact">
    <%= image_tag('croissant.png', :class => "fadeIn") %>
  </div>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :nom, :required => true, :placeholder=> "Nom" %>
          <%= f.input :prenom, :required => true, :placeholder=> "Prénom" %>
          <%= f.input :email, :required => true, :placeholder=> "Email" %>
          <%= f.input :societe, :required => true, :placeholder=> "Société" %>
        </div>
        <div class="col-md-6">
          <div style="position: relative;">
            <%= f.input :date, :as => 'string', :required => true, :placeholder=> "Date", input_html: { class: 'datepicker', style: 'padding: 10px;' } %>
          </div>
          <%= f.input :nombre, :required => true, :placeholder=> "Nombre de participants" %>
          <%= f.input :budget, :required => true, :placeholder=> "Budget" %>
          <%= f.select :type, options_for_select([["Votre prestation", ""], "Petit déjeuners", "Déjeuner", "Pauses Gourmandes", "Apéro / Cotcktail", "Animations", "Autre"]), :class => 'genForm_dropBox' %>
        </div>
        <div class="col-xs-12">
          <%= f.input :message, :as => :text, :required => true, :placeholder=> "Votre message" %>
        </div>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div class="col-xs-12 text-center">
          <div class="width-button">
            <%= f.button :submit, 'Envoyer', :class=> "btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= image_tag('logo-contact.png', :style => "position: absolute; bottom: 0px; left: 0; right: 0; margin-left: auto; margin-right: auto; ;", :class => "text-center") %>
</div>





